
    <nav class="navbar navbar-expand-md navbar-light bg-light" [style.background]="menu">
      <div class="container-fluid">


        <a class="navbar-brand" routerLink="/home"  routerLinkActive="active" title="Home" title="Páginia Inicio"><em class='bi bi-house-door'></em></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">

          <ul class="navbar-nav">

            <ng-container *ngIf="auth.isAuthenticated$ | async">

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"><em class='bi bi-table'>&nbsp;Asistencia&nbsp;</em></a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item"  routerLink="/asistencia" routerLinkActive="active" (click)="setTable('Asistencia')">Ingreso</a></li>
                  <li><a class="dropdown-item"  routerLink="/resumen_asistencia" routerLinkActive="active" (click)="setTable('Asistencia')">Resumen Asistencia</a></li>

                </ul>
              </li>


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"><em class='bi bi-bank'>&nbsp;Colegio&nbsp;</em></a>
                <ul class="dropdown-menu">
                  <li *ngIf="mostra_menu('Colegio')"><a class="dropdown-item"  routerLink="/colegio" routerLinkActive="active" (click)="setTable('Colegio')">Colegio</a></li>
                  <li *ngIf="mostra_menu('AsistenteColegio')"><a class="dropdown-item"  routerLink="/asistentecolegio" routerLinkActive="active" (click)="setTable('AsistenteColegio')">Asistente Colegio</a></li>
                  <li><a class="dropdown-item"  routerLink="/curso" routerLinkActive="active" (click)="setTable('Curso')">Curso</a></li>
                  <li><a class="dropdown-item"  routerLink="/asignatura" routerLinkActive="active" (click)="setTable('Asignatura')">Asignatura</a></li>
                  <li><a class="dropdown-item" routerLink="/asignaturaprofesor" routerLinkActive="active" (click)="setTable('AsignaturaProfesor')">Asignatura Profesor</a></li>
                  <li><a class="dropdown-item" routerLink="/asignaturacurso" routerLinkActive="active" (click)="setTable('AsignaturaCurso')">Asignatura Curso</a></li>
                  <li><a class="dropdown-item"  routerLink="/horaasignada" routerLinkActive="active" (click)="setTable('HoraAsignada')">Hora Asignada</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"><em class='bi bi-mortarboard-fill'>&nbsp;Alumno&nbsp;</em></a>
                <ul class="dropdown-menu">
                  <li *ngIf="mostra_menu('Profesor')"><a class="dropdown-item" routerLink="/alumno" routerLinkActive="false" (click)="setTable('Alumno')">Alumno</a></li>
                  <li><a class="dropdown-item" routerLink="/estadoalumno" routerLinkActive="active" (click)="setTable('EstadoAlumno')">Estado Alumno</a></li>
                  <li *ngIf="mostra_menu('Apoderado')"><a class="dropdown-item" routerLink="/apoderado" routerLinkActive="active" (click)="setTable('Apoderado')">Apoderado</a></li>
                  <li><a class="dropdown-item" routerLink="/anotaciones" routerLinkActive="active" (click)="setTable('Anotacion')">Observaciones</a></li>
                  <li><a class="dropdown-item" routerLink="/fichaalumno" routerLinkActive="active" (click)="setTable('FichaAlumno')">Ficha Alumno</a></li>
                  <li><a class="dropdown-item" routerLink="/matricula" routerLinkActive="active" (click)="setTable('Matricula')">Matrícula</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><em class='bi bi-person-video3'>&nbsp;Profesor&nbsp;</em></a>
                <ul class="dropdown-menu">
                  <li *ngIf="mostra_menu('Profesor')"><a class="dropdown-item" routerLink="/profesor" routerLinkActive="active" (click)="setTable('Profesor')">Profesor</a></li>
                  <li><a class="dropdown-item" routerLink="/inscripcioncolegio" routerLinkActive="active" (click)="setTable('InscripcionColegio')">Inscripción Colegio</a></li>
                  <li><a class="dropdown-item" routerLink="/cursoprofesor" routerLinkActive="active" (click)="setTable('CursoProfesor')">Inscripción Curso</a></li>
                  <li><a class="dropdown-item" routerLink="/evaluacion" routerLinkActive="active" (click)="setTable('Evaluacion')">Evaluación</a></li>
                  <li><a class="dropdown-item" routerLink="/nota" routerLinkActive="active" (click)="setTable('Nota')">Notas</a></li>
                  <li><a class="dropdown-item" routerLink="/resumennota" routerLinkActive="active" (click)="setTable('ResumenNota')">Resumen Notas</a></li>
                  <li><a class="dropdown-item" routerLink="/horario" routerLinkActive="active" (click)="setTable('Horario')">Horario</a></li>
                  <li><a class="dropdown-item" routerLink="/horasinscritas" routerLinkActive="active" (click)="setTable('HoraInscrita')">Horas Inscritas</a></li>
                  <li><a class="dropdown-item" routerLink="/control_asignatura" routerLinkActive="active" (click)="setTable('ControlAsignatura')">Control Asignatura</a></li>
                  <li><a class="dropdown-item" routerLink="/registro_actividad" routerLinkActive="active" (click)="setTable('RegistroActividad')">Registro Actividad</a></li>
                  <li><a class="dropdown-item" routerLink="/ventana" routerLinkActive="active" (click)="setTable('Ventana')">Ventana de Tiempo</a></li>

                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"><em class='bi bi-person-fill-lock'>&nbsp;Admin&nbsp;</em></a>
                <ul class="dropdown-menu">
                  <li *ngIf="mostra_menu('TipoUsuario')"><a class="dropdown-item" routerLink="/tipousuario" routerLinkActive="active" (click)="setTable('TipoUsuario')">TipoUsuario</a></li>
                  <li *ngIf="mostra_menu('Usuario')"><a class="dropdown-item" routerLink="/usuario" routerLinkActive="active" (click)="setTable('Usuario')">Usuario</a></li>
                  <li *ngIf="mostra_menu('Tabla')"><a class="dropdown-item" routerLink="/tabla" routerLinkActive="active" (click)="setTable('Tabla')">Tabla</a></li>

                </ul>
              </li>

              <li class="nav-item dropdown">
                <button class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"><em class='bi bi-grid'>&nbsp;Procesos&nbsp;</em></button>
                <ul class="dropdown-menu">
                  <li *ngIf="mostra_menu('MatriculaAlumno')"><a class="dropdown-item"  routerLink="/matricula_alumno" routerLinkActive="active" (click)="setTable('MatriculaAlumno')">Matrícula Alumno</a></li>
                  <li *ngIf="mostra_menu('RegistroUsuario')"><a class="dropdown-item" routerLink="/registro_usuario" routerLinkActive="active" (click)="setTable('RegistroUsuario')">Registro Usuario</a></li>
                  <li><a class="dropdown-item" routerLink="/informar-sigue" routerLinkActive="active" (click)="setTable('InformeSige')">Informe SIGE</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <button class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"><em class='bi bi-palette'>&nbsp;Temas</em></button>
                <ul class="dropdown-menu">

                  <li><a class="dropdown-item" (click)="mensaje([1,'azul'])">&nbsp;Azul</a></li>
                  <li><a class="dropdown-item" (click)="mensaje([2,'verde'])">&nbsp;Verde</a></li>
                  <li><a class="dropdown-item" (click)="mensaje([3,'info'])">&nbsp;Purpura</a></li>

                </ul>
              </li>
            </ng-container>

            <ng-container>

            <!--li class="nav-item">
              <a class="nav-link"  title="navegación"
              type="button" data-bs-toggle="offcanvas" data-bs-target="#demo"
             ><em class='bi bi-compass' (click)="mostrar_color()">&nbsp;Navegación</em></a>
            </li-->

            <li class="nav-item" *ngIf="!isFullScreen">
              <a class="nav-link"  title="Expandir"
              type="button" (click)="toggleFullScreen()"
             ><em class="bi bi-arrows-fullscreen">&nbsp;Expandir</em></a>
            </li>

            <li class="nav-item" *ngIf="isFullScreen">
              <a class="nav-link"  title="Contraer"
              type="button" (click)="toggleFullScreen()"
             ><em class="bi bi-fullscreen-exit">&nbsp;Contraer</em></a>
            </li>


            <li class="nav-item dropdown">
                <button class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"><em class='bi bi-question-square'>&nbsp;Ayuda&nbsp;</em></button>
                <ul class="dropdown-menu">

                  <li><a class="dropdown-item" data-bs-toggle="offcanvas" data-bs-target="#demo"   (click)="mostrar_color()"> &nbsp;Navegación</a></li>
                  <li><a class="dropdown-item" routerLink="/home/tutoriales" routerLinkActive="active">&nbsp;Tutoriales en línea</a></li>
                  <li><a class="dropdown-item" routerLink="/home/preguntas" routerLinkActive="active">&nbsp;Preguntas Frecuentes</a></li>
                  <li><a class="dropdown-item"  routerLink="/home/acerca" routerLinkActive="active">Acerca de</a></li>
                  <li><a class="dropdown-item" routerLink="/home/contacto" routerLinkActive="active">Contáctenos</a></li>
                </ul>
            </li>

          </ng-container>
          </ul>

        </div>
        <span  *ngIf="auth.isAuthenticated$ | async"><i>{{saludo}} {{tipousuario}} {{type}} : {{fullName}}</i></span>

      </div>
    </nav>

    <!-- Offcanvas Sidebar -->
<div class="offcanvas offcanvas-bottom" style="height: 50%;" id="demo">
  <div class="offcanvas-header  {{canvas}}  text-light">
    <h1 class="offcanvas-title">Navegación</h1>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body bg-light md">
    <table class="table table-bordered bg-light">
      <thead  class="{{tabletype}}">
          <tr><th style="color: '{{letters}}'">Concepto</th><th style="color: '{{letters}}'">Menu</th><th style="color: '{{letters}}'">Submenu</th></tr>
      </thead>
      <tbody>
          <tr><td>Ingreso Asistencia por curso</td><th rowspan="2"><em class='bi bi-table'>&nbsp;Asistencia&nbsp;</em></th><td>Ingreso</td></tr>
          <tr><td>Resumen Asistencia por cursos</td><td>Resumen</td></tr>
          <!--tr><td>Control Asignatura</td><td rowspan="3">Principal</td><td rowspan="3"></td></tr-->
          <!--tr><td>Registro de Actividades</td></tr-->

          <!--tr><td>Horario de Profesores</td><td rowspan="2">horario</td><td>Horario</td></tr-->
          <!--tr><td>Horas Inscritas Profesor</td><td>Horas Inscritas</td></tr-->

          <tr><td>Mantenedor Colegios</td><th rowspan="5"><em class='bi bi-bank'>&nbsp;Colegio&nbsp;</em></th><td>Colegio</td></tr>
          <tr><td>Asistentes por colegio</td><td>Asistente Colegio</td></tr>
          <tr><td>Cursos por Colegio</td><td>Curso</td></tr>
          <tr><td>Asignatura</td><td>Asignatura</td></tr>
          <tr><td>Asignación de horarios</td><td>Hora Asignada</td></tr>

          <tr><td>Mantenedor Alumno</td><th rowspan="7"><em class='bi bi-mortarboard-fill'>&nbsp;Alumno&nbsp;</em></th><td>Alumno</td><tr>
          <tr><td>Estado Alumno</td><td>Estados del Alumno</td></tr>
          <tr><td>Mantenedor Apoderado</td><td>Apoderado</td></tr>
          <tr><td>Observaciones Alumno</td><td>Observaciones</td></tr>
          <tr><td>Ficha de Alumno</td><td>Ficha Alumno</td></tr>
          <tr><td>Mantenedor Matrícula Alumno</td><td>Matrícula</td></tr>

          <tr><td>Mantenedor Profesor</td><th rowspan="8"><em class='bi bi-person-video3'>&nbsp;Profesor&nbsp;</em></th><td>Profesor</td></tr>
          <tr><td>Asignaturas por profesor</td><td>Asignatura Profesor</td></tr>
          <tr><td>Programación de Evaluaciones</td><td>Evaluación</td></tr>
          <tr><td>Notas de Alumno</td><td>Notas</td></tr>
          <tr><td>Horario de Profesores</td><td>Horarios</td></tr>
          <tr><td>Horas inscritas por profesor</td><td>Horas Inscritas</td></tr>
          <tr><td>Control Asignatura</td><td>Control Asignatura</td></tr>
          <tr><td>Registro Actividad</td><td>registro Actividad</td></tr>



          <tr><td>Tipo Usuario</td><th rowspan="4"><em class='bi bi-person-fill-lock'>&nbsp;Administración&nbsp;</em></th><td>Tipo usuario</td></tr>
          <tr><td>Usuario</td><td>Usuario</td></tr>
          <tr><td>Tablas de asignación ventanas</td><td>Tablas</td></tr>
          <tr><td>Ventanas de Tiempo Correciones</td><td>Ventanas</td></tr>

          <tr><td>Matricula Alumno</td><th rowspan="3"><em class='bi bi-grid'>&nbsp;Procesos&nbsp;</em></th><td>Matricula Alumno</td></tr>
          <tr><td>Registro Usuario</td><td>Registro Usuario</td></tr>
          <tr><td>Informe SIGE</td><td>Informe SIGE</td></tr>

          <tr><td>Tutoriales en Línea</td><th rowspan="2"><em class='bi bi-question-square'>&nbsp;Ayuda&nbsp;</em></th><td>Tutoriales</td></tr>
          <tr><td>Preguntas Frecuentes</td><td>Preguntas Frecuentes</td></tr>

          <tr><td>Acerca de</td><th rowspan="2"><em class='bi bi-info-square'>&nbsp;Acerca de&nbsp;</em></th><td>Acerca de</td></tr>
          <tr><td>Contáctenos</td><td>Contáctenos</td></tr>

          </tbody>
  </table>

  </div>
</div>

