
<nav class="navbar navbar-expand-md navbar-light bg-light" [style.background]="menu">
    <div class="container-fluid">


        <a class="navbar-brand" routerLink="/home"  routerLinkActive="active" title="Home" title="Páginia Inicio"><em class='bi bi-house-door'></em></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">

          <ul class="navbar-nav">

            <ng-container *ngIf="auth.isAuthenticated$ | async">
              <li *ngFor="let title of menuTitles; index as i" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"><em class={{menuIcons[i]}}>&nbsp;{{title}}</em></a>
                <ul class="dropdown-menu">
                  <li *ngFor="let menu of menuTables[i]">

                    <a *ngIf="menu.submenu=='navegacion'; else demas" [class.disabled]="menu.disable" class="dropdown-item"  
                    data-bs-toggle="offcanvas" data-bs-target="#demo"   (click)="obtener_color()">{{menu.nombre}}</a>
                    <ng-template #demas>
                      <a [class.disabled]="menu.disable" class="dropdown-item"  routerLink="{{menu.submenu}}" routerLinkActive="active">{{menu.nombre}}</a>
                    </ng-template>
                  </li>
                </ul>
              </li>
            </ng-container>
            <ng-container>

              <li class="nav-item dropdown">
                <button class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"><em class='bi bi-palette'>&nbsp;Temas</em></button>
                <ul class="dropdown-menu">

                  <li><a class="dropdown-item" (click)="mensaje([1,'primary'])">&nbsp;Primary</a></li>
                  <li><a class="dropdown-item" (click)="mensaje([2,'success'])">&nbsp;Success</a></li>
                  <li><a class="dropdown-item" (click)="mensaje([3,'info'])">&nbsp;Info</a></li>

                </ul>
              </li>                        

              <li class="nav-item" *ngIf="!isFullScreen">
                <a class="nav-link"  title="Expandir"
                type="button" (click)="toggleFullScreen()"><em class="bi bi-arrows-fullscreen">&nbsp;Expandir</em></a>
              </li>
  
              <li class="nav-item" *ngIf="isFullScreen">
                <a class="nav-link"  title="Contraer" type="button" (click)="toggleFullScreen()"
               ><em class="bi bi-fullscreen-exit">&nbsp;Contraer</em></a>
              </li>



            </ng-container>
  
          </ul>
        </div>
        <span class="mx-2" *ngIf="mostra_usuario && (auth.isAuthenticated$ | async)"><i>{{saludo}} {{tipousuario}} {{type}} : {{fullName}}</i></span>
        
    </div>
</nav>

    <!-- Offcanvas Sidebar -->
<div class="offcanvas offcanvas-bottom" style="height: 50%;" id="demo">
  <div class="offcanvas-header  {{canvas}}  text-light">
    <h1 class="offcanvas-title">Navegación</h1>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body bg-light md">
    <app-ayuda></app-ayuda>
  </div>
</div>

