<div class="container-fluid"  style="padding-left: 5%; padding-right: 5%"
[style.background-color]="bodybgcolor"
[style.background-image]="url"
[style.background-position]="position"
[style.background-size]="size"
[style.height] = "height">

  <div class="my-4" style="float: right;">
    <multi-select
    [tables]="selTables"
    [change-functions]="changeFnsArray"
    [patch-fks-from-storage]="patchFksFromStorage">
    </multi-select>
  </div>
  
  <checkbox-calendar [disable_check]="disable"
    [title]="title"
    [table]="table"
    [check-field]="checkField"
    [update-if-selected]="updateIfSelected"
    [row-fk-table]="rowTable"
    [year-table]="yearTable"
    [month-table]="monthTable"
    [holidays-table]="holidaysTable"
    [day-number-field]="dayNumberField"
    maxRows="50"
    [populate-function]="populateAsistenciaMes">
  </checkbox-calendar>

 </div>



