.greycell {
    background-color: #c9c9c9;
  }
  
  .highlightedcell {
    background-color: #feffe3;
  }
  
  th {
    align-content: center;
    text-align: center;
    font-size: 110%;
    font-weight: normal;
  }
  
  tr , th, td {
  
    background: rgba(0,0,0,0.01);
  } 
  