<div class="container-fluid" style="padding-left: 5%; padding-right: 5%; padding-top: 1%;padding-bottom: 0%"
[style.background-color]="bodybgcolor"
[style.height] = "height">


    <!--  [requiredSelectorsByTable]="requiredSelectorsByTable" -->

    <div  style="float: right; padding-bottom: 0%; height:100px; ">
      <multi-select
        [title]=""
        [tables]="fKeysSel"

        [change-functions]="changeFnsArray"
        [custom-endpoints]="customEndpoints"
        [patch-fks-from-storage]="patchFksFromStorage">
      </multi-select>
    </div>

    <div class="overflow-auto p-3 bg-light"  [style.max-height]="height"  [style.opacity]="opacity"  style="width: 100%;">

      <table class="table table-bordered table-striped table-sm">
        <thead>  <!-- [disabled]="disabledAddButton" -->
          <tr><th colspan="22" [style.background-color]="tablehead" style="color: white">
            <em [class]="getBiClass('/anotacion')"></em>&nbsp;{{title}}
              &nbsp;

              <a mat-button (click)="openDialog()"  disabled={{disabledAddButton}} title="Nuevo" [style.background-color]="modalbutton"><em class="bi bi-plus-lg"></em></a>

              <!--button type="button" class="btn btn-sm text-light"  (click)="openDialog(null)"  disabled={{disable}} title="Nuevo"
              [style.background-color]="modalbutton" ><em class="bi bi-plus-lg">{{disable}}</em></button-->

          </th></tr>
          <tr><th colspan="22" style="background-color: rgba(0,0,0,0);"> <p style="color: blue;"> {{nombreAlumno}}</p></th></tr>
          <tr>
            <th colspan="2">Fecha</th>
            <th>N° hora</th>
            <th colspan="4">Profesor(a)</th>
            <th colspan="15">Contenido</th>
          </tr>
        </thead>
        <tbody style="vertical-align: middle; text-align: center;">
          <tr *ngFor="let entry of mainQuery; index as i" style="height:fit-content">
            <td colspan="2">{{entry.fecha}}</td>
            <td>{{entry.hora}}</td>
            <td colspan="4">{{entry.Profesor.apellido1}} {{entry.Profesor.apellido2}}, {{entry.Profesor.nombre}}</td>
            <td colspan="15">{{entry.texto}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

