<div class="container-fluid"   style="padding-left: 5%; padding-right: 5%"
[style.background-color]="bodybgcolor" 
[style.height] = "height"
>

  <div class="my-4" style="float: right;">
    <multi-select
    [tables]="selTables"
    [change-functions]="changeFnsArray"
    [patch-fks-from-storage]="patchFksFromStorage">
    </multi-select>
  </div>
  
  <app-numbers-calendar
    [title]="title"
    [rowLabel]="rowLabel"
    [total-label]="totalLabel"
    [table]="table"
    [endpoint-suffix]="endpoint_suffix"
    [endpoint-foreign-keys]="endpoint_foreign_keys"
    [row-count-title]="rowCountTitle"
    [row-count-table]="rowCountTable"
    [row-count-endpoint-suffix]="rowCountEndpointSuffix"
    [row-count-foreign-keys]="rowCountForeignKeys"
    [update-if-selected]="updateIfSelected"
    [year-table]="yearTable"
    [month-table]="monthTable"
    [holidays-table]="holidaysTable"
    [max-rows-number]="80">
    </app-numbers-calendar>

</div>  



