<div class="container-fluid" style="padding-left: 5%;  padding-right: 5%; padding-top: 1%;padding-bottom: 0%;"
[style.background-color]="bodybgcolor"
[style.background-image]="url"
[style.background-position]="position"
[style.opacity]="opacity"
[style.background-size]="size"
[style.height] = "height">




        <div *ngIf="muestra_dialog" class="container  py-5  my-auto" style="max-width: 700px; opacity:90%">

          <h2 [class]='color_h2'>Matricula Alumno</h2>
          <form  [formGroup]="formConsulta">


          <div class="mx-5 pd-5">

            <table [class]="table_class">
              <thead>
                  <tr>
                    <td  [class]="color">Rut Alumno</td><td style="width: 45%"><input type="text"  class="form-control"  formControlName="rut_alumno" style="width: 100%"/>
                  <div *ngIf="formConsulta.controls['rut_alumno']?.invalid && (formConsulta.controls['rut_alumno']?.dirty || formConsulta.controls['rut_alumno']?.touched)"  class="alert alert-danger">
                    <div *ngIf="formConsulta.controls['rut_alumno']?.errors?.['rutValidator']">Por favor ingrese rut válido</div>
                  </div>
                  </td>
                  <th [class]="color">
                    <button type="button" [class]="button_class"  (click)="rut_alumno()"  [disabled]="disable?.editar">Buscar</button>

                </tr>
                  <tr><td [class]="color">Nombre:</td><td [class]="color">{{alumno?.nombre}}</td><td>&nbsp;</td></tr>
                  <tr><td [class]="color">Apellido Paterno:</td><td [class]="color">{{alumno?.apellido1}}</td><td>&nbsp;</td></tr>
                  <tr><td [class]="color">Apellido Materno:</td><td [class]="color">{{alumno?.apellido2}}</td><td>&nbsp;</td></tr>
              </thead>
            </table>

            <table  [class]="table_class">
              <thead>
                <tr><td [class]="color">Rut Apoderado</td><td style="width: 45%"><input type="text"  class="form-control"  formControlName="rut_apoderado"  style="width: 100%"/>
                <div *ngIf="formConsulta.controls['rut_apoderado']?.invalid && (formConsulta.controls['rut_apoderado']?.dirty || formConsulta.controls['rut_apoderado']?.touched)"  class="alert alert-danger">
                  <div *ngIf="formConsulta.controls['rut_apoderado']?.errors?.['rutValidator']">Por favor ingrese rut válido</div>
                </div>
                </td>
                <th class="color">
                  <button type="button" [class]="button_class" (click)="rut_apoderado()"  [disabled]="disable?.editar">Buscar</button>

                </tr>
                <tr><td [class]="color">Nombre:</td><td  [class]="color">{{apoderado?.nombre}}</td><td>&nbsp;</td></tr>
                <tr><td [class]="color">Apellido Paterno:</td><td [class]="color">{{apoderado?.apellido1}}</td><td>&nbsp;</td></tr>
                <tr><td [class]="color">Apellido Materno:</td><td [class]="color">{{apoderado?.apellido2}}</td><td>&nbsp;</td></tr>

              </thead>
            </table>
            <hr>
            <button type="button" (click)="cancelar()" [class]="button_class">Close</button>
            <hr>
            <div *ngIf="alumno && apoderado">

              <button type="button" (click)="openDialog()"  [disabled]="formConsulta.invalid" [class]="button_class">Generar Matrícula</button>
            </div>

          </div>
        <div>








