<div class="container-fluid" style="padding-left: 5%; padding-right: 5%;text-align:center;  padding-top: 2%;padding-bottom: 0%;"
[style.background-color]="bodybgcolor">


<div class="top">
 
        <div class="center">
          <h2>Matricula Alumno</h2>
          <form  [formGroup]="formConsulta">

          <table  class="table table-sm table-secundary table-fit">
            <tbody class="table-secundary" >
              <tr><td>Rut</td><td><input type="text" formControlName="rut"/>
                <div *ngIf="formConsulta.controls['rut']?.invalid && (formConsulta.controls['rut']?.dirty || formConsulta.controls['rut']?.touched)"  class="alert alert-danger">
                  <div *ngIf="formConsulta.controls['rut']?.errors?.['rutValidator']">Por favor ingrese un email</div>
                </div>
              </td>
              <td>
                <button type="button" class="btn  btn-sm"  (click)="rut_consulta()"
                   [style.background-color]="modalbutton" class="text-light" >Buscar</button>
              </td>
            </tr>
        
            </tbody>
          </table>
        <div>
   <br>
</div>






