
@charset "utf-8";
/* CSS Document */
.container {
  
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden !important;
}

div {
    background-color: aliceblue;
    border-radius: 0%;
    border-spacing: 1cap;
    border-style:solid;
    border-width: 0.1cap;
    border-color: rgb(224, 230, 235);
    opacity: 0.9;
}

h3.azul {
    color:darkblue;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium ;
    width:auto;
}

h3.verde {
    color: darkgreen;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium ;
    width:auto;
}

h3.naranjo {
    color: rgb(122, 70, 6);
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium ;
    width:auto;
}

th.azul {
    color:darkblue;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size:normal ;
    width:auto;
}
th.verde {
    color: darkgreen;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size:normal ;
    width:auto;
}
th.naranjo {
    color: rgb(122, 70, 6);
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size:normal ;
    width:auto;
}

