<div class="container-fluid" style="padding-left: 5%; ;padding-right: 5%"
[style.background-color]="bodybgcolor"
[style.height] = "height"
>

  <!-- Search -->

<div class="container-fluid">
  <div class="row  align-items-end">
    <div class="col-md-2 mt-4">
      <div class="input-group" *ngIf="isSearchTable" style="width: 300px;">
        <input type="search" (input)="search($event)"  class="form-control rounded" id="default-search"
        placeholder="ingrese búsqueda" aria-label="Search" aria-describedby="search-addon"/>
        <button type="button" class="btn btn-light" disabled><em class="bi bi-search"></em></button>
    </div>
    </div>

    <div class="col-md-10 mt-4">

        <multi-select
          [tables]="selTables"

          [change-functions]="changeFnsArray"
          [ignore-FK-requirements]="ignoreFkRequirements"
          [middle-tables]="middleTables"
          [patch-fks-from-storage]="patchFKsFromStorage">
        </multi-select>
    </div>
  </div>


</div>



<!--  Elimine   [init-ids]="multiSelectInitIds"  04-12-2023  -->

<div class="container-fluid overflow-auto bg-light mt-4"  [style.max-height]="height" [style.opacity]="opacity" style="width: 100%;">

  <!-- Tabla Principal -->


  <table class="table table-sm  table-striped table-fit table-bordered table-info">
    <ng-container *ngIf="isGroupTable; else notGroupTable">
      <thead>
        <tr><th [attr.colspan]="numColumns" [style.background-color]="tablehead" style="text-align: center;color:white; height:40px"><em [class]="getBiClass('/'+ mainTable)">&nbsp;&nbsp;</em><b>{{title}}</b></th></tr>
        <tr class="table-bordered">
          <th [attr.colspan]="numRedirect" *ngIf="numRedirect > 0" style="text-align:center" >
            <a class="btn btn-link btn-sm px-3" data-bs-toggle="tooltip" title="Bajar Datos"
            data-bs-target="#staticBackdrop" (click)="downloadFile()"><em  class="bi bi-cloud-download"></em></a>
          </th>

          <th *ngFor="let dateFd of dateFields">{{getAttributeLabel(mainTable, dateFd)}}</th>
          <th *ngFor="let tabla of fkFields">{{getTableLabel(tabla)}}</th>
          <th *ngFor="let textFd of textFields" >{{getAttributeLabel(mainTable, textFd)}}</th>
        </tr>
      </thead>
    </ng-container>
    <ng-template #notGroupTable>
      <thead>
        <tr><th [attr.colspan]="numColumns" [style.background-color]="tablehead"  style="text-align: center;color:white; font-size: medium;"><em [class]="getBiClass('/'+ mainTable)">&nbsp;&nbsp;</em><b>{{title}} ({{numreg}})</b></th></tr>
        <tr class="table-bordered">
          <th [attr.colspan]="numRedirect" *ngIf="numRedirect > 0"  style="text-align: center;">
            <a class="btn btn-link btn-sm px-3" data-bs-toggle="tooltip" title="Bajar Datos"
            data-bs-target="#staticBackdrop" (click)="downloadFile()"><em  class="bi bi-cloud-download"></em></a>
          </th>
          <th *ngFor="let textFd of textFields" >{{getAttributeLabel(mainTable, textFd)}}</th>
          <th *ngFor="let dateFd of dateFields">{{getAttributeLabel(mainTable, dateFd)}}</th>
          <th *ngFor="let boolFd of booleanFields">{{boolFd}}</th>
          <th *ngFor="let tabla of fkFields">{{getTableLabel(tabla)}}</th>

          <th [attr.colspan]="1" style="text-align: center;">
            <ng-container *ngIf="isNotCreateTable; else notCreate">
              <a></a>
            </ng-container>
            <ng-template #notCreate>
              <a mat-button (click)="openDialog()"  [disabled]="disable.crear" title="Nuevo"><em class="bi bi-plus-lg"></em></a>
            </ng-template>
          </th>
        </tr>
      </thead>
    </ng-template>

      <tbody *ngIf="mainQuery$">

        <ng-container *ngIf="isGroupTable; else notAGroupTable">
          <tr *ngFor="let c of (mainQuery$ | async)  | paginate: { itemsPerPage: 10, currentPage: currPage }">

            <ng-container *ngFor="let route of redirectRts">
              <td  style="text-align: center; width: 40px;"><a class="nav-link"
              [routerLink]="[route, c.Anno.id,c.Colegio.id,c.Curso.id,c.Profesor.id,c.Asignatura.id]" routerLinkActive="active"><!-- TODO  Generalizar -->
              <em [class]="getBiClass(route)" [title]="getIconLabel(route)"></em></a></td>
            </ng-container>

            <td *ngFor="let dateFd of dateFields">{{c[dateFd] | date:'dd/MM/YYYY'}}</td>
            <td *ngFor="let table of fkFields">{{c[table].apellido}} {{c[table].nombre}}</td>
            <th *ngFor="let boolFd of booleanFields">{{boolFd}}</th>
            <th *ngFor="let txtFd of textFields">{{c[txtFd]}}</th>

          </tr>
          <tr><th *ngFor="let c of columns">&nbsp;</th><th>{{sumGroup}}</th></tr>
        </ng-container>
        <ng-template #notAGroupTable>
          <tr *ngFor="let c of (mainQuery$ | async) | paginate: { itemsPerPage: 10, currentPage: currPage }">

            <td style="text-align: center;">
              <ng-container *ngFor="let route of redirectRts">
                <a class="nav-link"
                [routerLink]="[route, c.id, lowerUpperTables[mainTable]]" routerLinkActive="active">
                <em [class]="getBiClass(route)" [title]="getIconLabel(route)"></em></a>
              </ng-container>
            </td>


            <td *ngFor="let txtFd of textFields">{{c[txtFd]}}</td>
            <td *ngFor="let boolFd of booleanFields">{{c[boolFd]}}</td>
            <td *ngFor="let dateFd of dateFields">{{c[dateFd] | date:'dd/MM/YYYY'}}</td>
            <td *ngFor="let table of fkFields">{{getObjectLabel(table, c[table])}}</td>
            <th style="text-align: center;">
              <a mat-button (click)="openDialog(c)" [disabled]="disable.editar"><em class="bi bi-lock"></em></a>
            </th>
          </tr>
        </ng-template>
      </tbody>


  </table>
</div>

<div class="container-fluid" [style.background-color]="pagination">
  <pagination-controls (pageChange)="currPage=$event"></pagination-controls>
</div>

</div>

