
td {
  vertical-align:middle;
  padding-left: 1cap;
}

th {
  align-content: center;
  vertical-align: bottom;
  text-align: center;
  font-weight: normal;
  text-indent: 1cap;
}

.white-icon svg {
  fill: white;
}

tr , th, td {

  background: rgba(0,0,0,0.01);
}    