<div class="container-fluid px-3"
[style.background-color]="bodybgcolor"
[style.minHeight] = "height">

  <!-- Selectores -->

  <!--
    [fatherId] = "fatherId"
    [father] = "father"
  -->

<div class="my-4" style="float: right;">
  <multi-select
    [tables]="selTables"
    [ignore-FK-requirements]="ignoreFkRequirements"
    [change-functions]="changeFnsArray"
    [patch-fks-from-storage]="patchFKsFromStorage">
  </multi-select>
</div>


   <!-- Tabla Principal -->


   <div class="overflow-auto  bg-light"  [style.max-height]="height"  [style.opacity]="opacity" style="width: 100%;">
     <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th colspan="6" [style.background-color]="tablehead" style="text-align: center; vertical-align: middle; height:40px; color:aliceblue">   
              <em class="bi bi-clock mx-2"></em>{{titulo}}
          </th>
        </tr>  
      </thead>
      <tbody>
        <tr>
          <th style="width: 14.2%">Hora</th>
  
            <th  *ngFor="let d of days" style="width: 14.2%">{{d.nombre}}
              <a mat-button  title="Nuevo" (click)="openDialog({Dix: d.id},'create')"  [disabled]="stateOfButtonPlus"><em class="bi bi-plus-lg"></em></a>
            </th>
        </tr>
  
  
        <tr>
          <td>
            <table  class="table table-bordered table-striped table-sm">
  
  
                <tr *ngFor="let h of (horaasignada$ | async)">
                  <td style="text-align: center;">{{h.numero}}</td><td  style="text-align: center;">{{h.horario}}</td>
                </tr>
  
  
            </table>
          </td>
            <td *ngFor="let d of days">
              <table  class="table table-bordered table-sm  table-striped ">
                  
                  <tbody>
                    <tr *ngFor="let dayOf of dayOfWeekMap.get(d.id-1); index as i">
  
                      <td>
                        <ng-container  *ngIf="dayOf.CursoProfesor;  else Nulo">
                           <span *ngIf="stateOfButtonEdit==false; else disable"> {{i+1}} 
                            <button class="btn btn-outline-light text-dark btn-sm" data-bs-toggle="tooltip"  [disabled]="stateOfButtonEdit"
                            title="{{dayOf.profesor}}"
                            (click)="openDialog(dayOf,'update')">{{dayOf.CursoProfesor.asignatura}}
                            </button>
                             
                           </span>
                           <ng-template #disable><span title="{{dayOf.profesor}}">{{i+1}}: {{dayOf.CursoProfesor.asignatura}}</span></ng-template>
                        </ng-container>
                        <ng-template #Nulo>{{i+1}}:</ng-template>
                      </td>
                  </tr>
                  </tbody>
  
  
  
              </table>
            </td>
  
        </tr>
  
      </tbody>

     </table>
   </div>


  <!-- Modal -->
</div>
