
<div class="container-fluid" style="padding-left: 5%; padding-right: 5%; padding-top: 2%;padding-bottom: 0%;">

  <div class="container-fluid" style="width: 100%; height: 50px ;  padding-top: 3%;" [style.background-color]="bgmodal">
    <p style="color: white; vertical-align: middle;"><em [class]="getBiClass()">&nbsp; {{data.title}}</em></p>
  </div>
<hr>

<div class="container-fluid" style="padding-bottom: 1%">
 <form class="form" [formGroup]="formModal">
   <table  class="table table-sm table-secundary table-fit">
     <tbody class="table-secundary" >
       <tr *ngFor="let table of data.tables; index as i" ><td>{{getTableLabel(table)}}</td>
         <td>
           <select select class="form-select form-select-sm"
           [formControlName]="table"
           (change)="changeFunction(table, $event)">
             <option value=0>Ninguno</option>
             <option *ngFor="let r of (getQuery(table) | async)"
               [value]="r.id">{{getObjectLabel(table, r)}}</option>
           </select>
           <div *ngIf="formModal.controls[table]?.invalid && (formModal.controls[table]?.dirty || formModal.controls[table]?.touched)"  class="alert alert-danger">
               <div *ngIf="formModal.controls[table]?.errors?.['selectValidator']">Debe ser seleccionado</div>
          </div>
         </td>
       </tr>

       <tr *ngFor="let texto of data.textFields">

        <td>
              <label for="{{texto}}" class="form-label">{{getAttributeLabel(modalData.mainTable, texto)}}</label>
          </td><td>
              <ng-container *ngIf="textAreaFields.includes(texto); else isInput">
                <textarea type="text" class="form-control form-control-sm" style="height: 120px"
                  id="{{texto}}" placeholder="Ingrese {{texto}}" formControlName="{{texto}}">
                </textarea>
              </ng-container>
              <ng-template #isInput>
                <input type="text" class="form-control  form-control-sm"
                  id="{{texto}}" placeholder="Ingrese {{texto}}" formControlName="{{texto}}"/>
              </ng-template>

                <div *ngIf="formModal.controls[texto]?.invalid && (formModal.controls[texto]?.dirty || formModal.controls[texto]?.touched)"  class="alert alert-danger">
                <div *ngIf="formModal.controls[texto]?.errors?.['required']">Por favor ingrese un(a) {{texto}}</div>
                <div *ngIf="formModal.controls[texto]?.errors?.['maxlength']">Máximo largo excedido</div>
                <div *ngIf="formModal.controls[texto]?.errors?.['minlength']">Mínimo largo necesario</div>
                <div *ngIf="formModal.controls[texto]?.errors?.['pattern']">Patrón inválido</div>
                <div *ngIf="formModal.controls[texto]?.errors?.['horaValidator']">Hora asignada en curso</div>
                <div *ngIf="formModal.controls[texto]?.errors?.['profeValidator']">Hora asignada en otro curso</div>
                <div *ngIf="formModal.controls[texto]?.errors?.['rutValidator']">Rut no válido.</div>
                <div *ngIf="formModal.controls[texto]?.errors?.['emailValidator']">Email no válido.</div>
                <div *ngIf="formModal.controls[texto]?.errors?.['min']">Hora Fuera de Rango</div>
                <div *ngIf="formModal.controls[texto]?.errors?.['max']">Hora Fuera de Rango</div>
            </div>
        </td>
       </tr>

       <tr *ngFor="let dateField of data.dateFields">
        <td><label for="{{dateField}}" class="form-label">
          {{getAttributeLabel(modalData.mainTable, dateField)}}</label></td>
        <td><input type="date" class="form-control form-control-sm"
           formControlName="{{dateField}}"/></td>
       </tr>

     </tbody>
   </table>
   <span *ngFor="let hidden of modalData.hidden">
       <input type="hidden"  formControlName="{{hidden}}"/>
   </span>
      <input type="hidden"  formControlName="id"/>

 </form>
</div>

</div>


<div mat-dialog-actions align="end">

 <span *ngIf="formModal.valid"><em class="bi bi-check2-circle">&nbsp;Valid!</em></span>
 <span *ngIf="!formModal.valid"><em class="bi bi-x-circle">&nbsp;Invalid!</em></span>
 <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
<button mat-raised-button mat-dialog-close 
 [disabled]="formModal.invalid"  (click)="onSubmit()" [style.background-color]="modalbutton" class="text-light">Ejecutar</button>
<button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
</div>
