<div class="container-fluid" style="padding-left: 5%; padding-right: 5%;"
[style.background-color]="bodybgcolor"
[style.height] = "height">

  <div class="my-4" style="float: right;">
    <multi-select
      [tables]="selTables"
      [custom-endpoints]="customEndpoints"
      [ignore-FK-requirements]="ignoreFkRequirements"
      [change-functions]="changeFnsArray"
      [patch-fks-from-storage]="patchFKsFromStorage">
    </multi-select>
  </div>

   <div  [formGroup]="notasForm"   class="overflow-auto bg-light"   style="width: 100%; max-height: 600px;">
    
    <table  [class]="btable" >
      <thead>
        <tr>
          <th [attr.colspan]="columns+2" [style.background-color]="tablehead"
          style="text-align: center; vertical-align: middle;color:white; height:40px">Notas
          <button class="btn btn-sm btn-outline-info mx-2" style="color: aliceblue" type="button"  
          data-bs-toggle="modal" data-bs-target="#myModal" (click)="reset()"
          ><em class="bi bi-check-lg"></em><i class="bi bi-x-lg"></i></button>
        </th>
      </tr>
      </thead>
      <tbody *ngIf="mostra_tabla==true">
        <tr>
          <td>Código Validado : <span [style.color]="getColorValida()">{{codigoValidado}}</span></td><td *ngFor="let e of (evaluacion$ | async)">{{e.nombre}} ({{e.ponderacion}}%)</td><td>Ponderado</td>
        </tr>
        <tr><td>&nbsp;</td><td *ngFor="let e of (evaluacion$ | async)">{{e.fecha}}</td></tr>
        <tr>
          <td>&nbsp;</td><td *ngFor="let e of (evaluacion$ | async); index as i">
            <button class="btn btn-link btn-sm px-3" (click)="editar(i,e.id)"  [disabled]="desabilitado(e.fecha)">
              <span *ngIf="editarcolumn==i && edita==true; else misenor"><em class="bi bi-unlock"></em></span>
              <ng-template #misenor><em class="bi bi-lock"></em></ng-template>

            </button>
          </td><td [style.color] = "getPonderacion(ponderacion)">{{ponderacion}}%</td>
        </tr>
        <tr *ngFor="let matricula of (matricula$ | async)"><td style="text-align: left;">{{matricula.nombre}}</td>
          <td *ngFor="let mnota of matriculasNotasMap.get(matricula.id); index as i" [style.color]="getColorNota(mnota)">
            <span *ngIf="this.editarcolumn==i && this.edita; else mostra">
              <input type="text" size="3" formControlName="{{matricula.id}}-{{i}}">
              <div *ngIf="notasForm.controls[matricula.id + '-' + i].invalid && (notasForm.controls[matricula.id + '-' + i].dirty || notasForm.controls[matricula.id + '-' + i].touched)"  class="alert alert-danger">
                <div *ngIf="notasForm.controls[matricula.id + '-' + i]?.errors?.['required']">Por favor ingrese nota</div>
                <div *ngIf="notasForm.controls[matricula.id + '-' + i]?.errors?.['pattern']">Sólo números</div>
                <div *ngIf="notasForm.controls[matricula.id + '-' + i]?.errors?.['min']">Nota mínima 1</div>
                <div *ngIf="notasForm.controls[matricula.id + '-' + i]?.errors?.['max']">Nota Máxima 7</div>
              </div>
            </span><ng-template #mostra>{{mnota | number:'1.1-1'}}</ng-template></td>
          <td *ngIf="ponderacion == 100" [style.color]="getColorNota(matriculasPonderadoMap.get(matricula.id))">{{matriculasPonderadoMap.get(matricula.id)  | number:'1.1-1'}}</td>
        </tr>
        <tr><td>&nbsp;</td><td [style.color]="getColorNota(setType(s.value)/numMatriculas)" *ngFor="let s of (suma | keyvalue)">{{setType(s.value)/numMatriculas | number:'1.1-1' }}</td></tr>
      </tbody>
    </table>


  </div>

</div>

<!-- The Modal -->
<div class="modal fade" id="myModal" data-bs-backdrop="static">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Autentificación</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body modal-body-cyan">
   
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button [class]="modalbutton" type="button" data-bs-dismiss="modal" (click)="consultarCodigo(codigo)" >Consultar</button>
          </div>
          <input type="text" class="form-control ms-1" [(ngModel)]="codigo" id="codigo" 
          placeholder="Ingrese código de autentificación">
        </div>
        <!--div *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)" class="alert">
          <div *ngIf="codigo.errors?.['required']">Código es requerido.</div>  
       
      </div-->
   
      <!-- Modal footer -->
      <div class="modal-footer">

        <button type="button" class="btn btn-outline-sm btn-danger ms-5" data-bs-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div>
