

<div class="container-fluid" style="padding-left: 5%; padding-right: 5%;"
[style.background-color]="bodybgcolor"
[style.height] = "height">

  <div class="my-4" style="float: right;">
    <multi-select
      [tables]="selTables"
      [ignore-FK-requirements]="ignoreFkRequirements"
      [change-functions]="changeFnsArray"
      [patch-fks-from-storage]="patchFKsFromStorage">
    </multi-select>
  </div>



  <div  class="overflow-auto mt-4 bg-light"  [style.opacity]="opacity"  style="width: 100%; max-height: 680px;">

   
    
     

    <table class="table table-bordered">
     
      <tbody>
        <tr><td>&ngsp;</td><td *ngFor="let a of (asignatura$ | async)">{{a.Asignatura.nombre}}</td><td>Promedio</td></tr>
        <tr *ngFor="let m of (matricula$ | async)">
          <td>{{m.nombre}}</td><td *ngFor="let a of matriculaMap.get(m.id); index as i"  [style.color]="getcolor(a)" [title]="title[i]">{{ a  | number:'1.1-1' }}</td><th [style.color]="getcolor(promedio[m.id])">{{promedio[m.id] | number:'1.1-1'}}</th>
        </tr> 
    </table>

  
    </div>
    </div>


