

<div class="container-fluid" style="padding-left: 5%; padding-right: 5%;"
[style.background-image]="url"
[style.background-position]="position"
[style.background-size]="size"
[style.background-color]="bodybgcolor" [style.height] = "height">

  <div class="my-4" style="float: right;">
    <multi-select
      [tables]="selTables"
      [ignore-FK-requirements]="ignoreFkRequirements"
      [change-functions]="changeFnsArray"
      [patch-fks-from-storage]="patchFKsFromStorage">
    </multi-select>
  </div>

  <div  class="overflow-auto mt-4 bg-light"  [style.opacity]="opacity"  style="width: 100%; max-height: 700px;">
      <table>
        <tr><th [attr.colspan]="numColumns" [style.background-color]="tablehead"
          style="text-align: center;color:white; height:40px; width: 100%"><em [class]="getBiClass('/'+ mainTable)">&nbsp;&nbsp;</em><b>Resumen Notas</b></th></tr>
        <tr>
          <td><table class="table table-bordered"><tbody>
            <tr >
              <td *ngIf="asignatura$">&nbsp;</td><td *ngFor="let a of (asignatura$ | async)" >{{a.nombre}}</td><td>Promedio</td>
            </tr>
            <tr  *ngFor="let m of (matricula$ | async)"><td>{{m.nombre}}</td>
              <td   *ngFor="let p of (matriculaPromedioMap.get(m.id) | async)"><p  [style.color]="getcolor(p.promedio)">{{p.promedio}}</p>
              </td><td><p [style.color]="getcolor(matricula[m.id] / numcols)">{{matricula[m.id] / numcols  | number:'1.1-1'}}</p></td></tr>
              <tr><td>&nbsp;</td><td *ngFor="let a of asignatura | keyvalue"><p  [style.color]="getcolor(getnumber(a.value,numrows))">{{ getnumber(a.value,numrows)   | number:'1.1-1'}}</p></td></tr>
          </tbody>
          </table></td>
        </tr>
      </table>
    </div>
    </div>



