

<div class="container-fluid" style="padding-left: 5%; padding-right: 5%; padding-top: 1%;padding-bottom: 0%"
[style.background-color]="bodybgcolor" [style.height] = "height">

  <div  style="float: right; padding-bottom: 0%; height:100px; ">
    <multi-select
      [tables]="selTables"
      [ignore-FK-requirements]="ignoreFkRequirements"
      [change-functions]="changeFnsArray"
      [patch-fks-from-storage]="patchFKsFromStorage">
    </multi-select>
  </div>

  <div  class="overflow-auto p-3 bg-light"  style="width: 100%; max-height: 700px;"> 
      <table>
        <tr>
          <th>&nbsp;</th>
          <td>
            <table  class="table table-bordered"><thead><tr><td *ngFor="let a of (asignatura$ | async)">{{a.nombre}}</td></tr></thead></table>
          </td>
        </tr>
        <tr>
          <td>
            <table>
              <thead>
                <tr *ngFor="let m of (matricula$ | async)"> 
                  <td style="width: 30%; text-align: left">{{m.nombre}}</td>
                </tr>
              </thead>
            </table>      
           
          </td>
          <th><table>
            <tr  *ngFor="let m of (matricula$ | async)"><th   *ngFor="let p of (matriculaPromedioMap.get(m.id) | async)">{{p.promedio}}</th></tr>
          </table></th>
        </tr>
      </table>          
    </div>
    </div>
 


