<table class="table table-bordered bg-light">
    <thead  class="{{tabletype}}">
        <tr><th style="color: '{{letters}}'">Concepto</th><th style="color: '{{letters}}'">Menu</th><th style="color: '{{letters}}'">Submenu</th></tr>
    </thead>
    <tbody>
        <tr><td>Ingreso Asistencia por curso</td><th rowspan="2"><em class='bi bi-table'>&nbsp;Asistencia&nbsp;</em></th><td>Ingreso</td></tr>
        <tr><td>Resumen Asistencia por cursos</td><td>Resumen</td></tr>

        <tr><td>Mantenedor Colegios</td><th rowspan="5"><em class='bi bi-bank'>&nbsp;Colegio&nbsp;</em></th><td>Colegio</td></tr>
        <tr><td>Asistentes por colegio</td><td>Asistente Colegio</td></tr>
        <tr><td>Cursos por Colegio</td><td>Curso</td></tr>
        <tr><td>Asignatura</td><td>Asignatura</td></tr>
        <tr><td>Asignación de horarios</td><td>Hora Asignada</td></tr>

        <tr><td>Mantenedor Alumno</td><th rowspan="7"><em class='bi bi-mortarboard-fill'>&nbsp;Alumno&nbsp;</em></th><td>Alumno</td><tr>
        <tr><td>Estado Alumno</td><td>Estados del Alumno</td></tr>
        <tr><td>Mantenedor Apoderado</td><td>Apoderado</td></tr>
        <tr><td>Observaciones Alumno</td><td>Observaciones</td></tr>
        <tr><td>Ficha de Alumno</td><td>Ficha Alumno</td></tr>
        <tr><td>Mantenedor Matrícula Alumno</td><td>Matrícula</td></tr>

        <tr><td>Mantenedor Profesor</td><th rowspan="8"><em class='bi bi-person-video3'>&nbsp;Profesor&nbsp;</em></th><td>Profesor</td></tr>
        <tr><td>Asignaturas por profesor</td><td>Asignatura Profesor</td></tr>
        <tr><td>Programación de Evaluaciones</td><td>Evaluación</td></tr>
        <tr><td>Notas de Alumno</td><td>Notas</td></tr>
        <tr><td>Horario de Profesores</td><td>Horarios</td></tr>
        <tr><td>Horas inscritas por profesor</td><td>Horas Inscritas</td></tr>
        <tr><td>Control Asignatura</td><td>Control Asignatura</td></tr>
        <tr><td>Registro Actividad</td><td>registro Actividad</td></tr>



        <tr><td>Tipo Usuario</td><th rowspan="4"><em class='bi bi-person-fill-lock'>&nbsp;Administración&nbsp;</em></th><td>Tipo usuario</td></tr>
        <tr><td>Usuario</td><td>Usuario</td></tr>
        <tr><td>Tablas de asignación ventanas</td><td>Tablas</td></tr>
        <tr><td>Ventanas de Tiempo Correciones</td><td>Ventanas</td></tr>

        <tr><td>Matricula Alumno</td><th rowspan="3"><em class='bi bi-grid'>&nbsp;Procesos&nbsp;</em></th><td>Matricula Alumno</td></tr>
        <tr><td>Registro Usuario</td><td>Registro Usuario</td></tr>
        <tr><td>Informe SIGE</td><td>Informe SIGE</td></tr>

        <tr><td>Tutoriales en Línea</td><th rowspan="2"><em class='bi bi-question-square'>&nbsp;Ayuda&nbsp;</em></th><td>Tutoriales</td></tr>
        <tr><td>Preguntas Frecuentes</td><td>Preguntas Frecuentes</td></tr>

        <tr><td>Acerca de</td><th rowspan="2"><em class='bi bi-info-square'>&nbsp;Acerca de&nbsp;</em></th><td>Acerca de</td></tr>
        <tr><td>Contáctenos</td><td>Contáctenos</td></tr>

        </tbody>
  </table>

