th,
td {
  vertical-align: middle;
  text-align: left;
  text-indent: 1cap;
}

th {
  align-content: center;
  text-align: center;
  font-weight: normal;
  
  
}

p {
  color:rgb(12, 17, 41)
}

tr , th, td {
  height: 4cap;
  width: 50%;
  
}    