table {
 
  border-color: aliceblue;
  border-width: 0px;
  border-style: solid;
  height:100px;
}

td, th {
  vertical-align:middle;
 
  border-color: aliceblue;
  border-width: 0px;
  border-style: solid;
  background-color: transparent;
}

