<div class="container-fluid" [style.background-color]="color" [style.backgroundImage]="lineal" style="height: 100px;">
  <table class="table">
    <thead >
      <tr ><th  style="text-align: left;vertical-align: top;"><img src="assets/images/libro.png" [style.width]="fotolibro"/></th>
        <th style="text-align: center; vertical-align: top;"><img src="assets/images/libro_clases.png" [style.width]="fototexto"></th>
        <th style="text-align: right;"><auth-button></auth-button></th>
      </tr>
    </thead>
  </table>
  
</div>