<div class="container-fluid" [style.background-color]="color" [style.backgroundImage]="lineal">
  <table class="table">
    <thead >
      <tr ><td  style="text-align: left; background-color: transparent; "><img src="assets/images/libro.png" [style.width]="fotolibro"/></td>
        <td style="text-align: center;"><img src="assets/images/libro_clases.png" [style.width]="fototexto"></td>
        <td style="text-align: right;"><auth-button></auth-button></td>
      </tr>
    </thead>
  </table>
</div>
