@charset "utf-8";
/* CSS Document */
.container {
  
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden !important;
}

div{
    align-content: center;
    background-color: aliceblue;
    border-radius: 0%;
    border-spacing: 1cap;
    border-style:solid;
    border-width: 0.1cap;
    border-color: rgb(224, 230, 235);
    text-align: center;
}

td.primary {
    color:darkblue;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size:normal ;
    width:auto;
    text-align: left;
    vertical-align: middle;
}
td.success {
    color:darkgreen;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size:normal ;
    width:auto;
    text-align: left;
    vertical-align: middle;
}
td.info {
    color:darkcyan;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size:normal ;
    width:auto;
    text-align: left;
    vertical-align: middle;
}

