table  {
  width: auto;
  margin:auto;
}

th {

 background: rgba(0,0,0,0.01);
}

td {

  text-align:justify;
  background: rgba(254,254,254,0.01);
}


.center {
  text-align: center;
  border: 1px;
  background: lightgray;
  border-color:lightgrey;
  padding-top: 2cap;
  border-radius: 2%;
  border-style: solid;
  align-items: center;
  width: 40%;
  margin: 1cap auto;
  margin-top: 10cap;

}

hr {
  width: auto;
  margin:auto;
}

span {
  margin: 1cap;
}